@page
@model prevention_productivity.Pages.Events.EditModel

@{
   ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <div class="col-md-4">
                 
             <div class="form-group">
                    <label asp-for="Event.GrantProgramId" class="control-label">Associated Grant</label>
                    <select asp-for="Event.GrantProgramId" class="form-control">
                        <option value="">Select Grant</option>
                        @foreach(var item in Model.Grants)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div> 
             </div>
            <br />
            <div class="row">
                <div class="col-md-2">   
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.PublicEvent" /> Open to Public?
                </label>
                </div>
                    <div class="col-md-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.RSVPRequired" /> RSVP Required?
                </label>
             </div>
                    <div class="col-md-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.AnnualEvent" /> Annual Event?
                </label>
             </div>
                    <div class="col-md-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.NewEvent" /> New Event?
                </label>
                 </div>
                    <div class="col-md-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Event.Volunteers" /> Volunteers Needed?
                </label>
                </div>
            </div>
          <br />
          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Event.Name" class="control-label"></label>
                    <input asp-for="Event.Name" class="form-control" />
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>
                </div>
              <div class="col-md-6">
                 <div class="form-group">
                    <label asp-for="Event.EventBudget" class="control-label">Budget</label>
                    <input asp-for="Event.EventBudget" class="form-control" />
                    <span asp-validation-for="Event.EventBudget" class="text-danger"></span>
                </div>
                </div>
                
          </div>
            <div class="row">
                    <div class="col-md-4">
                         <div class="form-group">
                <label asp-for="Event.Location" class="control-label"></label>
                <input asp-for="Event.Location" class="form-control" />
                <span asp-validation-for="Event.Location" class="text-danger"></span>
            </div>
            </div>
                    <div class="col-md-4">
            
                    <div class="form-group">
                        <label asp-for="Event.EventStart" class="control-label">Start Date & Time</label>
                        <input asp-for="Event.EventStart" class="form-control" />
                        <span asp-validation-for="Event.EventStart" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-md-4">
                    
                    <div class="form-group">
                        <label asp-for="Event.Duration" class="control-label">Duration (in hours)</label>
                        <input asp-for="Event.Duration" class="form-control" />
                        <span asp-validation-for="Event.Duration" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
           
         <div class="row">
             
          <div class="col-md-4">
                    
            <div class="form-group">
                <label asp-for="Event.SetUpTime" class="control-label">Setup Time</label>
                <input asp-for="Event.SetUpTime" class="form-control" />
                <span asp-validation-for="Event.SetUpTime" class="text-danger"></span>
            </div>
          </div>
           <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Event.CleanUpTime" class="control-label">Cleanup Time</label>
                <input asp-for="Event.CleanUpTime" class="form-control" />
                <span asp-validation-for="Event.CleanUpTime" class="text-danger"></span>
            </div>
           </div>
          </div>
           <div class="form-group">
                <label asp-for="Event.EventAffiliates" class="control-label">Affliated Organizations</label>
                <textarea asp-for="Event.EventAffiliates" class="form-control"></textarea>
                <span asp-validation-for="Event.EventAffiliates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label">Short Description</label>
                <textarea asp-for="Event.Description" class="form-control"></textarea>
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Event.LocationDetail" class="control-label">Location Detail</label>
                <textarea asp-for="Event.LocationDetail" class="form-control"></textarea>
                <span asp-validation-for="Event.LocationDetail" class="text-danger"></span>
            </div>
                       
   
            <div class="form-group">
                <label asp-for="Event.Agenda" class="control-label"></label>
                <textarea asp-for="Event.Agenda" class="form-control"></textarea>
                <span asp-validation-for="Event.Agenda" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
                <div class="form-group">
                    <label asp-for="Event.TargetPopulation" class="control-label">Target Population</label>
                    <input asp-for="Event.TargetPopulation" class="form-control" />
                    <span asp-validation-for="Event.TargetPopulation" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Event.AgeGroup" class="control-label">Target Age Group</label>
                    <input asp-for="Event.AgeGroup" class="form-control" />
                    <span asp-validation-for="Event.AgeGroup" class="text-danger"></span>
                </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Event.PartingGift" class="control-label">Gift Plans</label>
                <textarea asp-for="Event.PartingGift" class="form-control"></textarea>
                <span asp-validation-for="Event.PartingGift" class="text-danger"></span>
            </div>
            </div>
            
            <div class="col-md-6">
            
            <div class="form-group">
                <label asp-for="Event.Raffle" class="control-label">Raffle Plans</label>
                <textarea asp-for="Event.Raffle" class="form-control"></textarea>
                <span asp-validation-for="Event.Raffle" class="text-danger"></span>
            </div>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.Marketing" class="control-label">Marketing Needs</label>
                <textarea asp-for="Event.Marketing" class="form-control"></textarea>
                <span asp-validation-for="Event.Marketing" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    
            <div class="form-group">
                <label asp-for="Event.SpecialOrderGear" class="control-label">Special Order Gear</label>
                <textarea asp-for="Event.SpecialOrderGear" class="form-control"></textarea>
                <span asp-validation-for="Event.SpecialOrderGear" class="text-danger"></span>
            </div>
                </div>
                <div class="col-md-6">
                    
            
            <div class="form-group">
                <label asp-for="Event.SpecialOrderDesignElements" class="control-label">Special Order Design Elements</label>
                <textarea asp-for="Event.SpecialOrderDesignElements" class="form-control"></textarea>
                <span asp-validation-for="Event.SpecialOrderDesignElements" class="text-danger"></span>
                </div>
            </div>
            </div>
            <div class="form-group">
                <label asp-for="Event.Performance" class="control-label">Performance</label>
                <textarea asp-for="Event.Performance" class="form-control"></textarea>
                <span asp-validation-for="Event.Performance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Vendors" class="control-label">Vendors</label>
                <textarea asp-for="Event.Vendors" class="form-control"></textarea>
                <span asp-validation-for="Event.Vendors" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-4">
                    
                <div class="form-group">
                    <label asp-for="Event.Caterer" class="control-label"></label>
                    <input asp-for="Event.Caterer" class="form-control" />
                    <span asp-validation-for="Event.Caterer" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                    
                <div class="form-group">
                    <label asp-for="Event.FoodHeadCount" class="control-label">Head Count for Food</label>
                    <input asp-for="Event.FoodHeadCount" class="form-control" />
                    <span asp-validation-for="Event.FoodHeadCount" class="text-danger"></span>
                </div>
                </div>
            </div>
                <div class="col-md-8">
                    
                <div class="form-group">
                <label asp-for="Event.FoodBeverage" class="control-label">Food & Beverage Needs</label>
                <textarea asp-for="Event.FoodBeverage" class="form-control"></textarea>
                <span asp-validation-for="Event.FoodBeverage" class="text-danger"></span>
                </div>
            </div>                
            
            <div class="form-group">
                <label asp-for="Event.OtherSpecialOrder" class="control-label">Other Special Orders</label>
                <textarea asp-for="Event.OtherSpecialOrder" class="form-control"></textarea>
                <span asp-validation-for="Event.OtherSpecialOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="Event.StaffTimeCommitment" class="control-label">Staff Time Commitment (in hours)</label>
                    <input asp-for="Event.StaffTimeCommitment" class="form-control" />
                    <span asp-validation-for="Event.StaffTimeCommitment" class="text-danger"></span>
                </div>
        <div class="row">
                <div class="col-md-6">
                    
                <div class="form-group">
                    <label asp-for="Event.PreventionTeamMembers" class="control-label">Prevention Team Members</label>
                    <textarea asp-for="Event.PreventionTeamMembers" class="form-control"></textarea>
                    <span asp-validation-for="Event.PreventionTeamMembers" class="text-danger"></span>
                </div>
                </div>
               <div class="col-md-6">
                 <div class="form-group">
                <label asp-for="Event.StaffDuties" class="control-label">Staff Duties</label>
                <textarea asp-for="Event.StaffDuties" class="form-control"></textarea>
                <span asp-validation-for="Event.StaffDuties" class="text-danger"></span>
            </div>
                </div>
        </div>
           <div class="row">
            <div class="col-md-6">
                
            <div class="form-group">
                <label asp-for="Event.NORAClients" class="control-label">NORA Clients Attending</label>
                <textarea asp-for="Event.NORAClients" class="form-control"></textarea>
                <span asp-validation-for="Event.NORAClients" class="text-danger"></span>
            </div>
            </div>   
           <div class="col-md-6">
               
            <div class="form-group">
                <label asp-for="Event.VolunteerList" class="control-label">List of Volunteers</label>
                <textarea asp-for="Event.VolunteerList" class="form-control"></textarea>
                <span asp-validation-for="Event.VolunteerList" class="text-danger"></span>
            </div>
           </div>
           </div>
            <div class="form-group">
                <label asp-for="Event.Supplies" class="control-label">Other Supplies Needed</label>
                <textarea asp-for="Event.Supplies" class="form-control"></textarea>
                <span asp-validation-for="Event.Supplies" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <label asp-for="Event.Notes" class="control-label"></label>
                <textarea asp-for="Event.Notes" class="form-control"></textarea>
                <span asp-validation-for="Event.Notes" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group" style="text-align:center;">
                <input type="submit" value="Save Event Changes" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
