html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #294D4A;
  margin-bottom: 60px;
}

#login-submit,
.btn-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #402942;
    border-color: #402942;
}
    #login-submit:hover,
    .btn-primary:hover {
        background-color: #BD4089;
        border-color: #BD4089;
    }

body {
    background-color: #DFF2D8;
}
.form-floating {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #6622CC;
}

a:hover {
    color: #BD4089;
}

.form-control {
    background-color: #DFF2D8;
    margin-top: 10px;
    margin-bottom: 10px;
}

#rejected {
    font-weight: bolder;
    color: #d30808
}

#approved {
    font-weight: bolder;
    color: #294D4A;
}

#pending {
    font-weight: bolder;
    color: #bda30f;
}

.searchRow {
    display: flex;
    flex-direction: row;
    width: 35%;
    height: 35px;
    margin-bottom: 20px;
}

#searchSubmit {
    height: fit-content;
   
}

.searchBox {
    margin: 10px;
    height: 39px;
    border-radius: 5%;
}