@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Prevention Homepage</h1>
    <br />
    <h3>On this application you can:</h3>
    <br />
    <p>1. Log and track your productivity throughout the week</p>
    <p>2. Enter details about an event, in order to track progress towards grant goals</p>
    <p>3. Add members to the Prevention Team</p>
    <p>4. View established contacts throughout the program</p>
    <br />
    <p>The time on the server is @DateTime.Now</p>

</div>

