@page
@model prevention_productivity.Pages.Grants.CreateModel

@{
   ViewData["Title"] = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>GrantProgram</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                    <label asp-for="GrantProgram.AwardNumber" class="control-label">Award Number</label>
                    <input asp-for="GrantProgram.AwardNumber" class="form-control" />
                    <span asp-validation-for="GrantProgram.AwardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantProgram.Name" class="control-label"></label>
                <input asp-for="GrantProgram.Name" class="form-control" />
                <span asp-validation-for="GrantProgram.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantProgram.Description" class="control-label"></label>
                <textarea asp-for="GrantProgram.Description" class="form-control"></textarea>
                <span asp-validation-for="GrantProgram.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantProgram.StartDate" class="control-label">Grant Start</label>
                <input asp-for="GrantProgram.StartDate" class="form-control" />
                <span asp-validation-for="GrantProgram.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GrantProgram.EndDate" class="control-label">Grant End</label>
                <input asp-for="GrantProgram.EndDate" class="form-control" />
                <span asp-validation-for="GrantProgram.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
