@page
@model prevention_productivity.Pages.SchoolReports.EditModel

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Edit Report</h4>
<hr />
<div>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                 <div class="col-md-2"></div>
                  <div class="col-md-4">
            <div class="form-group">
                <label asp-for="SchoolReport.SchoolName" class="control-label">School</label>
                <input asp-for="SchoolReport.SchoolName" class="form-control" />
                <span asp-validation-for="SchoolReport.SchoolName" class="text-danger"></span>
            </div>
            </div>
            </div>
    <div class="row">
         <div class="col-md-2"></div>
        <div class="col-md-4">
            
            <div class="form-group">
                <label asp-for="SchoolReport.Curriculum" class="control-label"></label>
                <input asp-for="SchoolReport.Curriculum" class="form-control" />
                <span asp-validation-for="SchoolReport.Curriculum" class="text-danger"></span>
            </div>
        </div>
                <div class="col-md-4"> 
            <div class="form-group">
                <label asp-for="SchoolReport.LessonPlan" class="control-label">Lesson Plan</label>
                <input asp-for="SchoolReport.LessonPlan" class="form-control" />
                <span asp-validation-for="SchoolReport.LessonPlan" class="text-danger"></span>
            </div>
            </div>
              
       </div>
       <div class="row">
           <div class="col-md-2"></div>
            <div class="col-md-8">
                
            <div class="form-group">
                <label asp-for="SchoolReport.TopicsCovered" class="control-label">Topics Covered</label>
                <textarea asp-for="SchoolReport.TopicsCovered" class="form-control"></textarea>
                <span asp-validation-for="SchoolReport.TopicsCovered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolReport.StudentList" class="control-label">Student Roster</label>
                <textarea asp-for="SchoolReport.StudentList" class="form-control"></textarea>
                <span asp-validation-for="SchoolReport.StudentList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolReport.Challenges" class="control-label"></label>
                <textarea asp-for="SchoolReport.Challenges" class="form-control"></textarea>
                <span asp-validation-for="SchoolReport.Challenges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolReport.Successes" class="control-label"></label>
                <textarea asp-for="SchoolReport.Successes" class="form-control"></textarea>
                <span asp-validation-for="SchoolReport.Successes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchoolReport.Notes" class="control-label"></label>
                <textarea asp-for="SchoolReport.Notes" class="form-control"></textarea>
                <span asp-validation-for="SchoolReport.Notes" class="text-danger"></span>
            </div>
            </div>   
       </div>
            <br />
            <div style="text-align:center;" class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
